<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand" style="padding-left: 1rem;" >EShop</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="text-light">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="text-light">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="text-light">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="text-light">Contact</a>
          </li>
      </ul>
      <div class="d-grid my-3">
       <a href="/login"><button class="btn btn-primary btn-lg" style="margin-left: 88rem;">Log in</button></a>
      </div>
    </div>
  </nav>