<div class="container-fluid" style="background-color:antiquewhite">
    <div class="row">
        <div class="col-md-2 mt-3">
            <div class="card mt-2" >
                <div class="card-body">
                    <div class="card-img-actions">
                        <img src="../../../assets/mamazon.png" alt="" class="car-img img-fluid">
                    </div>
                </div>

                <div class="car-body bg-light text-center">
                    <div><h6><a href="" class="text-center">Product Details</a></h6></div>
                    <h3 class="mb-0 font-weight-semibold"></h3>
                    <button>View Details</button>
                </div>
            </div>
        </div>
    </div>
 </div>